/behat.yml
/app/cache/*
/app/logs/*
/app/*.cache
/web/bundles
/web/uploads
/web/sitemap*.xml
/app/config/parameters*.yml
/vendor
/build
/web/vendor
/web/assetic/*[0-9]*
/nbproject
#/src/AppBundle/DataFixtures/data

/web/app/node_modules
/web/app/project
/web/app/coverage
/.idea

/bin/behat
/bin/doctrine
/bin/doctrine-dbal
/bin/doctrine-migrations
/bin/doctrine.php
/bin/phpunit
